<%- include('partials/header') %>
    <div class="grid">
        <% movies.forEach(movie=> { %>
            <div class="card">
                <img src="<%= movie.image %>" alt="<%= movie.title %>">
                <h3>
                    <%= movie.title %>
                </h3>
                <p>
                    <%= movie.year %>
                </p>
                <a href="/movie/<%= movie.id %>" class="btn">Skoða nánar</a>
            </div>
            <% }) %>
    </div>

    <%- include('partials/footer') %>